<div class=" card-group center-cards">
    <div *ngFor="let team of table">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">{{team.equipo.nombre}}</div>
            <div class="card-body">
                <p class="card-text">Partidos jugados: {{team.partidosJugados}}</p>
                <p class="card-text">Partidos perdidos: {{team.partidosPerdidos}}</p>
                <p class="card-text">Partidos empatados: {{team.partidosEmpatados}}</p>
                <p class="card-text">Partidos ganados: {{team.partidosGanados}}</p>
                <p class="card-text">Diferencia de goles: {{team.diferenciaDeGoles}}</p>
                <p class="card-text">Puntos: {{team.puntos}}</p>
            </div>
        </div>
    </div>


</div>